@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* overflow: hidden; */
  height: 100vh;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}